<configs>
	<serviceUrl>http://audiofile.example.com/webservice/v2/</serviceUrl>
	<serviceService>listservices.php</serviceService>
	<fileService>listfiles.php</fileService>
	<downloadService>download.php</downloadService>
	<audioFile>http://audiofile.example.com/audio/</audioFile>
	<playFormat>mp3</playFormat>
	<availableFormats>
		<format id="mp3" label="MP3 (6 Months)" validForDays="186" />
		<format id="mp2" label="MP2 (2 Weeks)" validForDays="14" />
	</availableFormats>
</configs>
