body {
/*  padding-top: 20px;*/
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}


/* UNIVERSAL
-------------------------------------------------- */
#header #logo {
float: left;
margin: auto 0;
margin-right: 20px;
overflow: hidden;
letter-spacing: -1px;
float:left;
}

#header #logo img {
display: inline-block;
max-width: 80px;
max-height: 30px;
}

#header #logo a {
display: inline-block;
font-size: 38px;
line-height: 1em;
color: #555;
}

.navbar-brand {
  font-size:28px;
}

.centre {
  text-align: center;
}

.centre h1 {
  text-align: center;
  margin-bottom:0;
  margin-top:0;
}

h1.time {
  font-size:48px;
  color:white;

}

.right {
  text-align: right;
}

.progress {
    background-color: #393939;
}

#jp_container_1 {
  margin-top:20px;
}

/* CONTROLLER
-------------------------------------------------- */
.inner-well {
    /*background: none repeat scroll 0 0 #3A3A41;*/
    border: 1px solid #2B2B2F;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 8px;
}
.inner-well + .inner-well {
    margin-top: 10px;
}

.controls .btn-icon {
font-size: 16px;
line-height: 17px;
}

.controls .btn {
  min-width:65px;
}

.controls .btn span.icon {
  vertical-align: bottom;
}

.btn-outline-group {
  width:72px; 
  float:left;
}

.btn-outline {
  padding:3px;
  width:100%;
  border: 1px solid #2B2B2F;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  /*border-radius:18px;*/
  border-radius:0px 0px 25px 25px; 
  border-left:0; 
  border-right:0;
}

.mark button.mark {width:170px;}


.btn-group-back {
  padding-right:0; 
  width:294px; 
  float:left;
}

.btn-group-forward {
  padding-left:0; 
  width:294px; 
  float:left;
}

.btn-group-forward .btn-outline {
  border-radius:0px 18px 18px 0px; 
  border-left:0px; 
  padding-left:30px;
}

.btn-group-back .btn-group {
  border-radius:18px 0px 0px 18px; 
  border-right:0px
}

.play {
  margin:auto; 
  text-align:centre; 
  border-radius: 20px; 
  font-size:30px; 
  line-height:20px;
}

.dropdown-menu > li > a.disabled {
    color: #686868;
}

/* DATEPICKER
-------------------------------------------------- */

#datepicker {
  background-color:transparent;
  margin:0;
  padding:0;
}

.ui-datepicker {
  background-color: #3E444C !important;
  width:100%;
  padding:5px;
  border:0;
}

.ui-datepicker-calendar {
  background-color: #3E444C;
}

#dates .ui-widget-content {
  background: url("images/ui-bg_highlight-hard_100_f9f9f9_1x100.png") repeat-x scroll 50% top transparent;
  border: 2px solid #3E444C;
}

.ui-datepicker table {
  margin: 0;
}

/* COLLAPSE
-------------------------------------------------- */
/*.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;


}

#accordion {
list-style: none;
margin: 0px 0;
padding: 0;
height: 400px;

}
 
#accordion > li {
float: left;
border-left:0;
display: block;
height: 400px;
width: 30px;
padding: 15px 0;

color: #fff;
text-decoration: none;
font-size: 16px;
line-height: 1.5em;
border-left: 1px solid #fff;
}

#accordion > li:first-child {
  border:0px;
  }
 
#accordion > li img {
border: none;
border-bottom:#5b6c74 200px solid;
float: left;
margin: -15px 0px 0 0;

}
 
#accordion > li.active {
width: 210px;
}


#accordion > li ul {
margin-left: 30px;
border-left: 1px solid #fff;
height:400px;
}

.panel-body-scroll {
    height: 400px;
    overflow: scroll !important;
    overflow-x: hidden !important;
}

 #hours, #programs, #items {
    overflow: visible !important; 
}*/

/*ul#accordion li ul li {

}*/

#two ol *,
#two ol *:before,
#two ol *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.liteAccordion .slide > div
 {
    height: 340px !important;
    float: left !important;
    overflow: auto !important;
    overflow-x:hidden !important;
    margin-left:10px;
}

.navlist
{
width: 295px; /* when items and programmes are finished change this back to 215px */
padding: 0;
color: #333;
}

ul.navlist 
{
list-style: none;
margin: 0;
margin-right:-25px;
margin-left:-9px;
padding: 0;
border: none;
margin-bottom: 20px;
}

.navlist li
{
border-bottom: 1px solid #90bade;
margin: 0;
}

.navlist li a
{
display: block;
padding: 5px 5px 5px 0.5em;
color: #0088CC;
text-decoration: none;
width: 100%;
}

html>body .navlist li a { width: auto; }

.navlist li a:hover
{
background-color: #2586d7;
color: #fff;
}

.navlist li#active a, .navlist li#active a:visited {
  background-color: #2E3338;
  color:white;
}

.navactive{
  background-color: #2E3338;
  color:white;  
}

.thumbnails li.active a {
  border-radius:10px;
  border:3px solid #1C1E22;
}

.carousel-inner .active li.active_station {
  background:transparent url(../dist/img/bullet-red.png) no-repeat 40px 0 !important;
  padding-top:13px !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 120px;
  /*margin-bottom: 20px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  margin-top:10px;
  height: 120px;
  /*background-color: #777;*/
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 120px;
}

/* TIDY BELOW */

.carousel-indicators {
  bottom: -25px;
}

#myCarousel ul {
  margin:0;
  padding:0;
  padding-left: 23px;
}

#myCarousel li
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-control .rte-icon-left-open,
.carousel-control .rte-icon-right-open {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .rte-icon-left-open {
  left: 50%;
}

.carousel-control .rte-icon-right-open {
  right: 50%;
}

.carousel-control .rte-icon-left-open, .carousel-control .rte-icon-right-open {
  top: 33%;
  font-size:30px !important;
}

/*.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 38%;
}*/

.carousel-control {
width: 0%;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important;
}

.station {
  width:50px;
}
