/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.btn {
	chromeColor:#C8C8EA; 
	fontSize:13;
}
.dcHead {
	fontSize:13;
	fontWeight:bold;	
}